# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Dataset
data/

# Model weights
*.pth
*.pt
*.ckpt

# OS
.DS_Store
Thumbs.db